# Java / Hadoop (Windows local - ajuste os caminhos)
JAVA_HOME=C:\Program Files\Eclipse Adoptium\jdk-17.x.x-hotspot
HADOOP_HOME=C:\hadoop

# MinIO (object storage)
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=changeme

# MySQL (banco operacional)
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=ecommerce
MYSQL_USER=spark_user
MYSQL_PASSWORD=changeme